<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/src/app/assests/img/employee.svg" alt="" width="72" height="57">
        <h1 class="h2">Employee Details form</h1>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Employee Details</h4>
          
          <form (ngSubmit)="OnSubmit()"class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Name</label>
                <input [(ngModel)]="employee.name" type="text" class="form-control" id="firstName" name="name" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
  
    
              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                <input  [(ngModel)]="employee.email" type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>
  
              <div class="col-12">
                <label for="department" class="form-label">Department</label>
                <select  [(ngModel)]="employee.department"  class="form-select" name="department" id="department" required>
                  <option value="">Choose...</option>
                  <option value="IT">IT</option>
                  <option value="HR">HR</option>
                  <option value="Operations">Operations</option>
                  <option value="Finance">Finance</option>
                </select>
                <div class="invalid-feedback">
                  Please select a department.
                </div>
              </div>
            
  
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Update Employee</button>
          </form>
        </div>
      
    </main>